.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #282c34;
  color: white;

}


.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  width: 200px;
  height: 30px;
  margin: 10px;
}

.card{
  width: 500px;
  height: 150px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
}
.card p{
  font-size:10px ;
  text-align: left;
}
#updateInput{
  width: 100px;
  height: 30px;
}